[Desktop Entry]
Name=RustDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/suportaedaptive;
TryExec=SuporteAdaptive
Exec=SuporteAdaptive %u
Icon=suporteadaptive
Terminal=false
Type=Application
StartupNotify=false
